body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.page-container {
    text-align: center;
    background-color: #292b2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
}

h1 {
    margin-top: 0;
    font-size: 24px;
}

p {
    margin: 10px 0;
    font-size: 16px;
}

canvas {
    border: 1px solid #000;
}
